---
import BaseLayout from "@/layouts/base.astro";
import CVTableIsland from "@/components/table/server-backed/cv-table.island";
---

<BaseLayout
  title="Diaz Cadenas - Curriculums"
  classNames="min-h-screen items-center"
>
  <div class="container min-h-screen overflow-hidden">
    <CVTableIsland client:load />
  </div>
</BaseLayout>
